body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #D4F5FF; /*light blue for background*/
    color :#003366;/*dark blue for contrast*/
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fbfbfb; /*white for container*/
    padding : 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 52, 102, 0.1);
}

#text-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FBFBFB;
    color: #003366;
}

#stats {
    margin-top: 15px;
    font-size: 18px;
    color: #003366;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #002244;
}
